<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
</head>
<body>
  May Node and Express be with you.

  <!--<ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      <span>Name: <%= quotes[i].name %></span>&nbsp;&nbsp;
      <span>Quote: <%= quotes[i].quote %></span>
    </li>
  <% } %>
  </ul>-->

  <table id="quote" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quote</th>                
            </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<quotes.length; i++) {%>
            <tr class="quote">
                <td><%= quotes[i].name %></td>
                <td><%= quotes[i].quote %></td>                
            </tr>
         <% } %>
      </tbody>
  </table>

  <form action="/quotes" method="POST">
    <input type="text" id="name" placeholder="name" name="name">
    <input type="text" id="quote1" placeholder="quote" name="quote">
    <button type="button" onClick="saveQuote()">Submit</button>
  </form>
</body>
<script>
  $(document).ready(function() {
      $('#quote').DataTable();
  });

  function saveQuote() {
    var data = {
      name: $('#name').val(),
      quote: $('#quote1').val()
    };
    
    console.log(JSON.stringify(data));
    $.ajax({
      type: 'POST',
      data: data,//JSON.stringify(data),
      //dataType: 'json',
      //contentType: 'application/json',
      url: 'http://localhost:3001/ajaxQuote',
      success: function(response) {
        console.log('response ' + JSON.stringify(response));
      },
      error: function(err){
        console.log('err ' + err);
      }
    });
    //console.log(data);
  }
</script>
</html>